entrypoint = "README.md"
run = "sh startup.sh"
hidden = ["startup.sh", "sql_data"]
language = "php"

[nix]
channel = "stable-21_11"

[languages]

[languages.php]
pattern = "**/*.php"

[languages.css]
pattern = "**/*.css"

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Run PHP Server"

[[workflows.workflow]]
name = "Run PHP Server"
author = 42596910
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8080 -t htdocs"
